html, body 	{                                           
  		height: 100%;
		margin: 20px;
		background-color: #FFFFFF;
		}

.image {  /* The image used */
    	background-image: url("https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg");
    	height: 300px; 
    	width: auto;
   	max-width: 100%;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	position: relative;
    	margin: 0px auto 0px auto;
    	box-shadow: 10px 10px darkgray;
	}

h1 	{ /* Event name */
  	margin: 80px;
	text-align: center;
	color: blue;
	font-family: sans-serif;
	}
 
h2 	{ /* action description */
	text-align: center;
	font-family: serif;
	}

table 	{ /* table styles */
  	text-align: left;
	padding: 0px 10px;
  	margin: 0px auto 0px auto; 
	max-width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	}


td 	{ /* table data styles */
	vertical-align: top;
	font-size: 15px;
	padding: 5px;
  	text-align: left;
	}

button { /* Submit button styles */
	margin: 20px auto 20px auto;
	display: block;
	padding: 10px;
	cursor: pointer;
	font-size: 18px;
	font-family: Open Sans;
	box-shadow: 10px 10px darkgray;
	}
