html, body {
  	height: 100%;
	margin: 20px;
	background-color: #FFFFFF;
}

.image {  /* The image used */
    	background-image: url("https://static.pexels.com/photos/356830/pexels-photo-356830.jpeg");
    	height: 300px; 
    	width: auto;
   	max-width: 100%;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	position: relative;
    	margin: 0px auto 0px auto;
    	box-shadow: 10px 10px darkgray;
}

h1 {
  	margin: 80px;
	text-align: center;
	color: blue;
	font-family: sans-serif;
}

h2 {
	text-align: center;
	font-family: serif;
}

table {
  	text-align: left;
	padding: 0px 10px;
  	margin: 0px auto 0px auto; 
	max-width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}


td {
	vertical-align: top;
	font-size: 16px;
	padding: 5px;
  	text-align: left;
}

button {
	margin-top: 20px;
	margin-left:auto; 
 	 margin-right:auto;
  	margin-bottom: 20px;
	display: block;
	padding: 10px;
	font-style: bold;
	cursor: pointer;
	font-size: 18px;
	font-family: oblique;
	box-shadow: 10px 10px darkgray;
}
